html{}

*, *::before, *::after{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	background-color: #2f303a;
	font-family: arial;
}

.section_0{
	height: 400px;
	display: block;
}

.section_0 img{
	height: 100%;
	width: 100%;
	align: center;
}

.section_0 .page-title{
	color: #fff;
	margin-top: -220px;
	font-weight: 650;
	font-size: 50px;
}

.section_0 .subheading{
	font-size: 20px;
}

.section_0 .subheading{
	color: #fff;
}

.bottom-section_0{
	background-color: #123;
	height: 50px;
}

.section_0-links{
	float: right;
	padding: 15px;
	display: flex;
}

.section_0-links a{
	margin-top: 0;
	text-decoration: none;
	color: #fff;
}

.section_0-links ul{
	float: left;
	margin-top: 0;
}

.section_0-links ul li{
	margin-top: 0;
	display: inline-block;
	color: #999;
	margin: 0 0.6rem;
	list-style: none;
}

.section_0-links a:hover{
	color: #999;
}

.section_1{
	background-color: rgba(0, 0, 0, .12);
}

.link_0 {
	float: right;
	margin-top: 0;
}

.offers{
	padding: 0 2rem;
	color: #fff;
}

.offers .offers-title h2{
	padding: 0 5rem 6rem;
	margin-top: -300px;
	color: #fff;
}

/*
.image-wrapper{
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
}
*/

.section_1-links .left-side-0{
	float: left;
	margin-right: -50px;
}

.section_1-links .left-side-1{
	float: left;
}

.car-image-1{
	background-image: url(../img/suzuki.png);
	background-repeat: no-repeat;
	min-height: 60vh;
	min-width: 30vw;
	flex-grow: 1;
	margin-left: 9rem;
	background-size: contain;
}

.pics-paragraph .text_0{
	font-size: 16;
	justify-content: space-between;
	padding: 0 0 0 5rem;
}

.pics-paragraph .text_1{
	justify-content: space-between;
	padding: 0 0 0 5rem;
	float: right;
}

.pics-paragraph .car-image-2{
	background-image: url(../img/volkswagen.png);
	background-repeat: no-repeat;
	min-height: 60vh;
	min-width: 30vw;
	flex-grow: 1;
	margin-right: 9rem;
	background-size: contain;
}

.pics-paragraph{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	flex-grow: 2;
	padding: 0 5rem;
}

.pics-paragraph .car-image-3{
	background-image: url(../img/toyota.png);
	background-repeat: no-repeat;
	min-height: 60vh;
	min-width: 30vw;
	flex-grow: 1;
	margin-left: 9rem;
	background-size: contain;
}

.pics-paragraph .car-image-4{
	background-image: url(../img/citroen.jpg);
	background-repeat: no-repeat;
	min-height: 60vh;
	min-width: 30vw;
	flex-grow: 1;
	margin-right: 9rem;
	background-size: contain;
}

@media (max-width: 940px) {
	.section_0-links .right{
		display: flex;
		margin-top: 0;
	}
	.bottom-section_0{
		height: 68px;
	}
	.offers .offers-title h2{
		margin-top: -254px;
	}
	.bottom-section_0 ul{
		display: flex;
	}
	.car-image-1, .car-image-2, .car-image-3{
		display: none;
	}
	.pics-paragraph .text_0{
		padding: 0;
	}

	.text_1{
		position: absolute;
		margin-top: 30rem;
	}
}
